{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{ text }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}

    <form action="/test/new" method="POST">
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" name="name" autofocus>
      </div>
      <div class="mb-3">
                    <label class="form-label">Apellidos</label>
                    <input type="text" class="form-control" name="lastname" autofocus>
                  </div>
            <div class="mb-3">
                    <label class="form-label">Telefono</label>
                    <input type="number" class="form-control" name="phone">
            </div>
            <div class="mb-3">
                          <label class="form-label">DNI</label>
                          <input type="number" class="form-control" name="dni">
                  </div>
      <div class="mb-3">
              <label class="form-label">Correo</label>
              <input type="email" class="form-control" name="email">
      </div>
      <div class="mb-3">
                    <label class="form-label">Fecha Nacimiento</label>
                    <input type="date" class="form-control" name="date">
            </div>
      <div class="row text-center">
        <div class="col-md-12">
                  <a href="/test/list" class="btn btn-warning">Ver Lista</a>
                  <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
      </div>
    </form>